:root{
    --blanco: #0f0f0f;
    --oscuro: #212121;
    --primario: #ffffff;
    --secundario: #ffffff;
    --gris: #757575;
    --grisClaro: #757575;
    
}

html{
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model */
    scroll-snap-type: y mandatory;
}
*, *:before, *:after{
    box-sizing: inherit;
}


body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px; /* 1rem = 10px */
    background-color: #0f0f0f;
}


/* Tipografias */

p {
    font-size: 1.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(#757575);
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
    color: #0f0f0f;
    
}

h1{
    text-align: center;
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    color: #ffffff;
}

h3{
    text-align: center;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    color: #ffffff;
}

h2{
    text-align: center;
}

label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: #ffffff;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    color: #ffffff;
}

h4{
    text-align: left;
}

/*Imagen de logo*/

.logo img {
    max-width: 100px;
    border: 2px solid black;
}

/*Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/*Flexbox para lista*/

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li a {
    text-decoration: underline;
    color: #ffffff; 
}


.nav-bg{ 
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction:column;
}

@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction:row;
        justify-content: space-evenly;
    }
    
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    
}


.hotel{
    background-image: url(../imagenes/foton.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 150rem;
    border-radius: 10rem;
    margin: 5rem;
    

}

.contenido-hotel{
    position: absolute;
    
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: bottom;

}
.contenido-hotel h2{
    color: #ffffff;
}

.contenedor {
    margin: 0 auto;
    max-width: 239rem;
}

.contenedor2{
    max-width: 120rem;
    margin: 0 auto;
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,8.48);
    -moz-box-shadow: 0px 5px 15 px 0px rgba(112,112,112,8.48);
    box-shadow: 0px 5px 15 px 0px rgba(112,112,112,8.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.servicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio a {
    text-decoration: none;
    color: #0d89d1;
}


.opciones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer{
    text-align: center;
}

/* Contacto */
.formulario{
    background-color:var(--gris);
    max-width: 2390px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--secundario);
}
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 24rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
  

}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: normal;
    margin-bottom: .5rem;
    display: block;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7rem;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.campo textarea{
    height: 20rem;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton{
        width:auto;
    }
}
.boton:hover{
    cursor: pointer;
}

.btnenviar{
    width: 100%;
}
@media (min-width: 768px) {
    .btnenviar{
        width: auto;
    }
}

/*Alinear al centro*/

/* Utilidades */
.alc{
    width: 100%;
}
@media (min-width: 768px) {
    .alc{
        width: auto;
    }
}

.flex{
    display: flex;
}
.alinear-centro{
    justify-content: center;
}

/** Nosotros **/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.nosotros p {
    color: #ffffff;
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.nosotros__imagen {
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .nosotros__imagen {
       grid-column: 2 / 3;
    }
}

@media (min-width: 768px) {
    .lugar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.reserva {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.reserva__fentrada {
   border: 0.5rem solid var(--secundario);
   background-color: transparent;
   color: var(--secundario);
   font-size: 2rem;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 1rem;
   appearance: none;
}
.reserva__fsalida {
    border: 0.5rem solid var(--secundario);
    background-color: transparent;
    color: var(--secundario);
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem;
    appearance: none;
 }
 .reserva__plan {
    border: 0.5rem solid var(--secundario);
    background-color: transparent;
    color: var(--secundario);
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem;
    appearance: none;
 }
 .reserva__huspedes {
    border: 0.5rem solid var(--secundario);
    background-color: transparent;
    color: var(--secundario);
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem;
    appearance: none;
 }
.reserva__btnenviar {
    background-color: var(--blanco);
    border: 1rem solid var(--secundario);
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0d89d1;
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.reserva__btnenviar:hover {
    cursor: pointer;
    background-color: var(--gris);
}

.resizeimage{
    width: 100%;
    height: auto;

}