@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swpa");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --secundario: #0d89d1;
    --blanco: #fff;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes up at least the full height of the viewport */
  }


.wrapper{
    width: 620px;
    background: #0d89d1;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.wrapper h1 {
    font-size: 36px;
    text-align: top;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}

.remember-forgot label input{
    accent-color: #fff;
    text-decoration: none;
    
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    background-color: #333; /* Background color of the footer */
    color: #fff; /* Text color of the footer */
    padding: 20px; /* Padding for the footer content */
    margin-top: auto; /* Push the footer to the bottom of the flex container */
    width: 100%; /* Set footer width to 100% of the viewport */
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;

}

header {
    padding-bottom: 20%;
}

.logo img {
    max-width: 100px;
    border: 2px solid black;
}

.nav-bg{ 
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction:column;
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    
}

.foot {
    position: fixed; /* Fix the footer at the bottom of the viewport */
    left: 0; /* Align the left edge of the footer with the left edge of the viewport */
    bottom: 0; /* Align the bottom edge of the footer with the bottom edge of the viewport */
    width: 100%; /* Make the footer span the full width of the viewport */
    background-color: #0d89d1; /* Background color of the footer */
    color: #fff; /* Text color of the footer */
    padding: 20px; /* Padding for the footer content */
  }